.bannerContents{

    bottom: 32px;
    left: 32px;
    z-index: 1;
    right: 0;
    margin-left: 30px;
    padding-top: 30px;

}
.bannerTitle{
    color:white;
    font-size: 3em;
    font-weight: 600;
    padding-bottom: 0.3ren;
    margin-bottom:0px;
    padding:28px 12px;
    color:white;
}

.Buttons{
    margin:24px 12px;


}
.playButton{
    margin-right: 20px;
    padding: 7px 16px;
    border: 2px solid white; 
    background-color: transparent; 
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.playButton:hover,.myListButton:hover{
    background-color: red;
    color:white;
}
.myListButton{
    padding: 7px 16px;
    border: 2px solid white; 
    background-color: transparent; 
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
    
.banner_description{
    color:white;
    font-size: 16px;
    font-family: sans-serif;
    color: #e5e5e5;
    line-height: 1.5;
    max-width: 600px;
}
.fadeButtom{
    position: relative;
    bottom: 0;
    left:0;
    width: 100%;
    height: 30vh; 
    background-image: linear-gradient(180deg,transparent, rgba(37, 37, 37,0.91),#111);
}