* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer{
    display:flex;
    position:sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(148, 132, 132); */
    background-color: rgb(20, 20, 20);
    /* background-color: transparent; */
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    /* background-color: red; */
}
.leftContainer ul{
    width:140%;
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
}
.rightContainer{
    gap: 10px;
    margin-left: 600px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}